<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о товаре</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="container mt-5">
    
    <h1>{{ item.name }}</h1>

    <p>Описание: {{ item.description|default:"Описание товара отсутствует." }}</p>
    <p>Количество: 
        {% if item.count > 0 %}
            {{ item.count }}
        {% else %}
            товар отсутствует
        {% endif %}
    </p>
</div>
{% endblock %}

</body>
</html>