<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block breadcrumb %}
        Товары
    {% endblock %}

    {% block content %}
    <h1>Полный список товаров</h1>
    <ol>
        {% for item in items %}
        <li>
            <a href="{% url 'show_item' item.id %}">{{ item.name }}</a> (количество: {{ item.quantity }})
        </li>


        {% endfor %}
    </ol>
        <a href="{% url 'home' %}">Вернуться на главную страницу</a>
    {% endblock %}
</body>
</html>