<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о товаре</title>
</head>
<body>
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <div class="container mt-5">
    
    <h1>{{ item.name }}</h1>

    <p>Описание: {{ item.description|default:"Описание товара отсутствует." }}</p>
    <p>Количество: 
        {% if item.count > 0 %}
            {{ item.count }}
        {% else %}
            Товар отсутствует
        {% endif %}
    </p>

    
    <h2>Доступные цвета:</h2>
    <ul style="padding-left: 0; list-style-type: none;">
        {% for color in item.colors.all %}
            <li style="margin-bottom: 5px;">
                <span class="color-box" style="background-color:{{ color.hex_code }};"></span>
                {{ color.name }}
            </li>
        {% endfor %}
</div>
{% endblock %}

</body>
</html>