<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="container mt-5">
        <h1>Список товаров:</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for item in items %}
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="..."> <!-- Здесь можно подключить картинку товара -->
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description|truncatewords_html:10 }}</p> 
                            <p class="card-text"><strong>Бренд:</strong> {{ item.brand }}</p>
                            <p class="card-text"><strong>Кол-во:</strong> {{ item.count }} шт.</p>
                            <a href="{% url 'show_item' item.id %}" class="btn btn-primary">Подробнее о товаре</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Нет товаров.</p>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>